services:
  - type: web
    name: greenvada-backend
    env: node
    region: singapore
    plan: free
    buildCommand: "npm install"
    startCommand: "node server.js"
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 4000
    autoDeploy: true
    healthCheckPath: "/api/products"
